# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=alben_db

# JWT Secret
JWT_SECRET=your_secret_key_here
JWT_EXPIRY=1d

# SMTP Configuration
APP_NAME=Alben.io
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email@selftech.in
MAIL_PASSWORD=""
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=email@selftech.in
MAIL_FROM_NAME=Alben.io

# SMS Configuration (BizSMS)
SMS_USERNAME=
SMS_PASSWORD=
SMS_SENDERNAME=
SMS_ROUTETYPE=
SMS_API_URL=
SMS_HASH=

# Swagger Authentication
SWAGGER_USER=
SWAGGER_PASSWORD=